<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <h1>Hello</h1>
    </div>
</body>
</html>



<!--<div class="club" *ngFor="let x of club">
    <div>{{x.nev}}</div>
    <div class="member" *ngFor="let y of x.members">
        <div>{{y.nev}}</div>
        <div  class="object" *ngFor="let z of y.objects">
            <div>{{z.nev}}</div>
        </div>
    </div>
</div> -->