<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klubok</title>
    <link rel="stylesheet" href="gyak.component.css">
</head>
<body>
    <div class="box">
        <div class="club" *ngFor="let x of club">
            <div class="club_name">{{x.nev}}</div>
            <div class="member" *ngFor="let y of x.members">
                <div class="mo">{{y.nev}}:</div>
                <div  class="object" *ngFor="let z of y.objects">
                    <div class="mo">{{z.nev}}</div>
                </div>
            </div>
        </div>
    </div>
     
                    
</body>
</html>



